
/*ROOT*/
/* Home Sayfasında Root Background*/
.rootBody{
    top:    0px;
    bottom: 0px;
    right:  0px;
    left:   0px;
    background: url('http://serik.mescomedia.com/img/Background.jpg') repeat 0 0;
    background-size:cover;
/*    position:fixed;*/
}
/*ROOT END*/










/* Large desktops and laptops */
@media (min-width: 1200px) {



    .device0{
        display:block;
        position:fixed;
        bottom:0px;
        color:white;
        font-weight:bold;
        background-color: red;
    }
    .device1{
        display:none;
    }
    .device2{
        display:none;
    }
    .device3{
        display:none;
    }
    .device4{
        display:none;
    }


}







/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .device0{
        display:none;
    }
    .device1{
        display:block;
        position:fixed;
        bottom:0px;
        color:white;
        font-weight:bold;
        background-color: green;
    }
    .device2{
        display:none;
    }
    .device3{
        display:none;
    }
    .device4{
        display:none;
    }


}






/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .device0{
        display:none;
    }
    .device1{
        display:none;
    }
    .device2{
        display:block;
        position:fixed;
        bottom:0px;
        color:white;
        font-weight:bold;
        background-color: blue;
    }
    .device3{
        display:none;
    }
    .device4{
        display:none;
    }

}







/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .device0{
        display:none;
    }
    .device1{
        display:none;
    }
    .device2{
        display:none;
    }
    .device3{
        display:block;
        position:fixed;
        bottom:0px;
        color:white;
        font-weight:bold;
        background-color: black;
    }
    .device4{
        display:none;
    }


}







/* Portrait phones and smaller */
@media (max-width: 480px) {



    .device0{
        display:none;
    }
    .device1{
        display:none;
    }
    .device2{
        display:none;
    }
    .device3{
        display:none;
    }
    .device4{
        display:block;
        position:fixed;
        bottom:0px;
        color:black;
        font-weight:bold;
        background-color: yellow;
    }


}








@-webkit-keyframes animate {
        from {background-position:0 0;}
        to {background-position: 500px 0;}
}

@-moz-keyframes animate {
        from {background-position:0 0;}
        to {background-position: 500px 0;}
}

@-ms-keyframes animate {
        from {background-position:0 0;}
        to {background-position: 500px 0;}
}

@-o-keyframes animate {
        from {background-position:0 0;}
        to {background-position: 500px 0;}
}

@keyframes animate {
        from {background-position:0 0;}
        to {background-position: 500px 0;}
}
